{% extends '_layout.twig' %}

{% set title = 'Confirmation commande | Los Gustos' %}
{% set footerClass = 'hide' %}

{% block content %}
<main id="pay">
  <section class="section">
    <div class="container">
      <h1 class="bold upper is-size-3 has-text-centered">commande confirmée</h1>
      <p class="has-text-centered">Votre commande arrivera dans 30min</p>
    </div>
  </section>
</main>

<script type="text/javascript">
  setCookie("item", 0, 0);
</script>
{% endblock %}
