{% extends '_layout.twig' %}

{% set title = 'Los Gustos' %}

{% block content %}
<main id="createaccount">
  <section class="section">
    <div class="container">
      <h1 class="upper is-size-4 mg-b2 has-text-centered bold text__is-black">connectez vous ou inscivez vous pour continuer</h1>
      <div class="buttons">
        <a href="signup" class="button mainbtn">S'inscrire</a>
        <a href="signin" class="button mainbtn">Se connecter</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
