/* line 5, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/common/_structure.scss */
.flex {
  display: flex;
}

/* line 7, ../sass/common/_structure.scss */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 11, ../sass/common/_structure.scss */
.space-between {
  justify-content: space-between;
}

/* line 15, ../sass/common/_structure.scss */
.align-ctr {
  align-items: center;
}

/* line 19, ../sass/common/_structure.scss */
.block {
  display: block !important;
}

/* line 23, ../sass/common/_structure.scss */
.hide {
  display: none;
}

/* line 27, ../sass/common/_structure.scss */
.pos-rel {
  position: relative;
}

/* line 31, ../sass/common/_structure.scss */
.pos-abs {
  position: absolute;
}

/* line 36, ../sass/common/_structure.scss */
.zind1 {
  z-index: 1;
}

/* line 40, ../sass/common/_structure.scss */
.zind2 {
  z-index: 2;
}

/* line 44, ../sass/common/_structure.scss */
.zind3 {
  z-index: 3;
}

/*/
///////BORDER////////*/
/* line 50, ../sass/common/_structure.scss */
.bdr {
  border-radius: 3px;
}

/* line 54, ../sass/common/_structure.scss */
.bdr-top {
  border-radius: 10px 10px 0 0;
}

/* line 58, ../sass/common/_structure.scss */
.bdr-bottom {
  border-radius: 0 0 10px 10px;
}

/* line 62, ../sass/common/_structure.scss */
.bdr-none {
  border-radius: none;
}

/* line 66, ../sass/common/_structure.scss */
.bd-top {
  border-top: 2px solid #000;
}

/* line 70, ../sass/common/_structure.scss */
.bd-bot {
  border-bottom: 2px solid #000;
}

/* line 74, ../sass/common/_structure.scss */
.bbox {
  box-sizing: border-box;
}

/* line 78, ../sass/common/_structure.scss */
.over_hide {
  overflow: hidden;
}

/* line 82, ../sass/common/_structure.scss */
.full-w {
  width: 100%;
}

/* line 86, ../sass/common/_structure.scss */
.full-h {
  height: 100%;
}

/* line 90, ../sass/common/_structure.scss */
.min-content {
  width: min-content;
}

/* line 94, ../sass/common/_structure.scss */
.max-content {
  width: max-content;
}

/*/
///////TEXT////////*/
/* line 100, ../sass/common/_structure.scss */
.text_center {
  text-align: center;
}

/* line 104, ../sass/common/_structure.scss */
.upper {
  text-transform: uppercase;
}

/* line 108, ../sass/common/_structure.scss */
.is-capitalize {
  text-transform: capitalize;
}

/* line 112, ../sass/common/_structure.scss */
.bold {
  font-weight: 900 !important;
}

/* line 116, ../sass/common/_structure.scss */
.thin {
  font-weight: thin;
}

/*/
///////MARGIN - PADDING////////*/
/* line 122, ../sass/common/_structure.scss */
.mauto-w {
  margin: 0 auto;
}

/* line 126, ../sass/common/_structure.scss */
.mg0 {
  margin: 0px;
}

/* line 130, ../sass/common/_structure.scss */
.pd0 {
  padding: 0px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b0 {
  margin-bottom: 0px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t0 {
  margin-top: 0px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l0 {
  margin-left: 0px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r0 {
  margin-right: 0px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b0 {
  padding-bottom: 0px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t0 {
  padding-top: 0px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l0 {
  padding-left: 0px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r0 {
  padding-right: 0px;
}

/* line 126, ../sass/common/_structure.scss */
.mg1 {
  margin: 10px;
}

/* line 130, ../sass/common/_structure.scss */
.pd1 {
  padding: 10px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b1 {
  margin-bottom: 10px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t1 {
  margin-top: 10px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l1 {
  margin-left: 10px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r1 {
  margin-right: 10px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b1 {
  padding-bottom: 10px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t1 {
  padding-top: 10px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l1 {
  padding-left: 10px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r1 {
  padding-right: 10px;
}

/* line 126, ../sass/common/_structure.scss */
.mg2 {
  margin: 20px;
}

/* line 130, ../sass/common/_structure.scss */
.pd2 {
  padding: 20px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b2 {
  margin-bottom: 20px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t2 {
  margin-top: 20px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l2 {
  margin-left: 20px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r2 {
  margin-right: 20px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b2 {
  padding-bottom: 20px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t2 {
  padding-top: 20px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l2 {
  padding-left: 20px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r2 {
  padding-right: 20px;
}

/* line 126, ../sass/common/_structure.scss */
.mg3 {
  margin: 30px;
}

/* line 130, ../sass/common/_structure.scss */
.pd3 {
  padding: 30px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b3 {
  margin-bottom: 30px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t3 {
  margin-top: 30px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l3 {
  margin-left: 30px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r3 {
  margin-right: 30px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b3 {
  padding-bottom: 30px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t3 {
  padding-top: 30px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l3 {
  padding-left: 30px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r3 {
  padding-right: 30px;
}

/* line 126, ../sass/common/_structure.scss */
.mg4 {
  margin: 40px;
}

/* line 130, ../sass/common/_structure.scss */
.pd4 {
  padding: 40px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b4 {
  margin-bottom: 40px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t4 {
  margin-top: 40px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l4 {
  margin-left: 40px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r4 {
  margin-right: 40px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b4 {
  padding-bottom: 40px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t4 {
  padding-top: 40px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l4 {
  padding-left: 40px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r4 {
  padding-right: 40px;
}

/* line 126, ../sass/common/_structure.scss */
.mg5 {
  margin: 50px;
}

/* line 130, ../sass/common/_structure.scss */
.pd5 {
  padding: 50px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b5 {
  margin-bottom: 50px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t5 {
  margin-top: 50px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l5 {
  margin-left: 50px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r5 {
  margin-right: 50px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b5 {
  padding-bottom: 50px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t5 {
  padding-top: 50px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l5 {
  padding-left: 50px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r5 {
  padding-right: 50px;
}

/* line 126, ../sass/common/_structure.scss */
.mg6 {
  margin: 60px;
}

/* line 130, ../sass/common/_structure.scss */
.pd6 {
  padding: 60px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b6 {
  margin-bottom: 60px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t6 {
  margin-top: 60px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l6 {
  margin-left: 60px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r6 {
  margin-right: 60px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b6 {
  padding-bottom: 60px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t6 {
  padding-top: 60px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l6 {
  padding-left: 60px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r6 {
  padding-right: 60px;
}

/* line 126, ../sass/common/_structure.scss */
.mg7 {
  margin: 70px;
}

/* line 130, ../sass/common/_structure.scss */
.pd7 {
  padding: 70px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b7 {
  margin-bottom: 70px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t7 {
  margin-top: 70px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l7 {
  margin-left: 70px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r7 {
  margin-right: 70px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b7 {
  padding-bottom: 70px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t7 {
  padding-top: 70px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l7 {
  padding-left: 70px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r7 {
  padding-right: 70px;
}

/* line 126, ../sass/common/_structure.scss */
.mg8 {
  margin: 80px;
}

/* line 130, ../sass/common/_structure.scss */
.pd8 {
  padding: 80px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b8 {
  margin-bottom: 80px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t8 {
  margin-top: 80px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l8 {
  margin-left: 80px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r8 {
  margin-right: 80px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b8 {
  padding-bottom: 80px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t8 {
  padding-top: 80px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l8 {
  padding-left: 80px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r8 {
  padding-right: 80px;
}

/* line 126, ../sass/common/_structure.scss */
.mg9 {
  margin: 90px;
}

/* line 130, ../sass/common/_structure.scss */
.pd9 {
  padding: 90px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b9 {
  margin-bottom: 90px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t9 {
  margin-top: 90px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l9 {
  margin-left: 90px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r9 {
  margin-right: 90px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b9 {
  padding-bottom: 90px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t9 {
  padding-top: 90px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l9 {
  padding-left: 90px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r9 {
  padding-right: 90px;
}

/* line 126, ../sass/common/_structure.scss */
.mg10 {
  margin: 100px;
}

/* line 130, ../sass/common/_structure.scss */
.pd10 {
  padding: 100px;
}

/*/
///////MARGIN////////*/
/* line 135, ../sass/common/_structure.scss */
.mg-b10 {
  margin-bottom: 100px;
}

/* line 139, ../sass/common/_structure.scss */
.mg-t10 {
  margin-top: 100px;
}

/* line 143, ../sass/common/_structure.scss */
.mg-l10 {
  margin-left: 100px;
}

/* line 147, ../sass/common/_structure.scss */
.mg-r10 {
  margin-right: 100px;
}

/*/
///////PADDING////////*/
/* line 152, ../sass/common/_structure.scss */
.pd-b10 {
  padding-bottom: 100px;
}

/* line 156, ../sass/common/_structure.scss */
.pd-t10 {
  padding-top: 100px;
}

/* line 160, ../sass/common/_structure.scss */
.pd-l10 {
  padding-left: 100px;
}

/* line 164, ../sass/common/_structure.scss */
.pd-r10 {
  padding-right: 100px;
}

/* line 169, ../sass/common/_structure.scss */
input:focus {
  outline: none;
}

/* line 2, ../sass/components/_background.scss */
.background__is-white {
  background-color: #fff !important;
}
/* line 6, ../sass/components/_background.scss */
.background__is-black {
  background-color: #000 !important;
}
/* line 10, ../sass/components/_background.scss */
.background__is-red {
  background-color: #E00303 !important;
}
/* line 14, ../sass/components/_background.scss */
.background__is-yellow {
  background-color: #FFC900 !important;
}
/* line 18, ../sass/components/_background.scss */
.background__is-green {
  background-color: #209D28 !important;
}

/* line 1, ../sass/components/_buttons.scss */
.button {
  border: none !important;
  -webkit-appearance: none;
}

/* line 6, ../sass/components/_buttons.scss */
.mainbtn {
  background: #E00303 !important;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
  -webkit-appearance: none;
}

/* line 1, ../sass/components/_inputs.scss */
input,
textarea {
  background: #EDEDED;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: block;
  resize: none;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 14px;
}
/* line 13, ../sass/components/_inputs.scss */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
/* line 21, ../sass/components/_inputs.scss */
input:focus,
textarea:focus {
  outline: none;
}
/* line 25, ../sass/components/_inputs.scss */
input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

/* line 31, ../sass/components/_inputs.scss */
label {
  font-size: 16px;
}

/* line 35, ../sass/components/_inputs.scss */
.half-inputs {
  display: flex;
  justify-content: space-between;
}
/* line 39, ../sass/components/_inputs.scss */
.half-inputs input {
  width: 49%;
}

/* line 44, ../sass/components/_inputs.scss */
#delivery-form {
  max-width: 600px;
}

/* line 50, ../sass/components/_inputs.scss */
#pay-form input[name="credit-number"] {
  width: 300px;
}
/* line 54, ../sass/components/_inputs.scss */
#pay-form input[name="credit-CVC"] {
  width: 100px;
}
/* line 59, ../sass/components/_inputs.scss */
#pay-form select {
  padding: 5px;
  height: 40px;
  background: #EDEDED;
  border: none;
  font-size: 14px;
}
/* line 66, ../sass/components/_inputs.scss */
#pay-form select:focus {
  outline: none;
}
/* line 70, ../sass/components/_inputs.scss */
#pay-form select[name="credit-expiration-month"] {
  width: 50px;
}
/* line 74, ../sass/components/_inputs.scss */
#pay-form select[name="credit-expiration-year"] {
  width: 70px;
}

/* line 1, ../sass/components/_recurrent.scss */
a {
  text-decoration: none;
  color: inherit;
  border: none;
}

/* line 7, ../sass/components/_recurrent.scss */
#products_items {
  width: 810px;
}
@media screen and (max-width: 1024px) {
  /* line 7, ../sass/components/_recurrent.scss */
  #products_items {
    width: 540px;
  }
}
@media screen and (max-width: 769px) {
  /* line 7, ../sass/components/_recurrent.scss */
  #products_items {
    width: 270px;
  }
}
/* line 16, ../sass/components/_recurrent.scss */
#products_items .products_item {
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}
/* line 26, ../sass/components/_recurrent.scss */
#products_items .products_item:hover .content {
  transform: translateX(-50%) translateY(-50%) scale(1.1);
}
/* line 31, ../sass/components/_recurrent.scss */
#products_items .products_item .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: 0.3s ease-in-out;
}
/* line 39, ../sass/components/_recurrent.scss */
#products_items .products_item .picto {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
/* line 46, ../sass/components/_recurrent.scss */
#products_items .products_item:first-child .picto {
  background: url("../img/picto/white/tacos_picto.svg") no-repeat center center;
  background-size: contain;
}
/* line 53, ../sass/components/_recurrent.scss */
#products_items .products_item:nth-child(2) .picto {
  background: url("../img/picto/white/burrito_picto.svg") no-repeat center center;
  background-size: contain;
}
/* line 60, ../sass/components/_recurrent.scss */
#products_items .products_item:nth-child(3) .picto {
  background: url("../img/picto/white/quesadillas_picto.svg") no-repeat center center;
  background-size: contain;
}
/* line 67, ../sass/components/_recurrent.scss */
#products_items .products_item:nth-child(4) .picto {
  background: url("../img/picto/white/nachos_picto.svg") no-repeat center center;
  background-size: contain;
}
/* line 74, ../sass/components/_recurrent.scss */
#products_items .products_item:nth-child(5) .picto {
  background: url("../img/picto/white/veggie_picto.svg") no-repeat center center;
  background-size: contain;
}
/* line 81, ../sass/components/_recurrent.scss */
#products_items .products_item:last-child .picto {
  background: url("../img/picto/white/drinks_picto.svg") no-repeat center center;
  background-size: contain;
}

/* line 89, ../sass/components/_recurrent.scss */
#drop-area {
  background: #209D28;
  top: 82px;
}
@media screen and (max-width: 50em) {
  /* line 93, ../sass/components/_recurrent.scss */
  #drop-area.drop-area {
    font-size: inherit;
  }
}
/* line 99, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item {
  background: rgba(255, 255, 255, 0.3);
  margin: 0 0 1em 2em;
  width: 200px;
  padding: 0;
}
/* line 105, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item::after {
  display: none;
}
/* line 110, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item > div:last-child {
  display: none;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
/* line 116, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item > div:last-child > * {
  display: block;
  color: white;
}
/* line 121, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item > div:last-child button {
  border: none;
  cursor: pointer;
  background: #FFC900;
  width: 30%;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
}
/* line 130, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item > div:last-child button:focus {
  outline: none;
}
/* line 137, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item .img {
  height: 150px;
}
/* line 140, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item .img img {
  top: 0;
  left: 0;
  width: 100%;
}
/* line 147, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item .desc {
  padding: 5px;
  text-align: left;
  font-family: Futura;
  display: none;
}
/* line 153, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item .desc h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 158, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item .desc p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 164, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item.filled {
  height: auto;
  background: transparent;
  margin-bottom: 25px;
}
/* line 170, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item.filled > div:first-child {
  background: white;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}
/* line 177, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item.filled > div:last-child {
  display: flex;
}
/* line 182, ../sass/components/_recurrent.scss */
#drop-area .drop-area__item.filled .desc {
  display: block;
}
/* line 189, ../sass/components/_recurrent.scss */
#drop-area .cart a {
  width: 200px;
  margin-left: 2em;
}

/* line 196, ../sass/components/_recurrent.scss */
.drop-overlay {
  top: 82px !important;
  z-index: 10;
}

/* line 201, ../sass/components/_recurrent.scss */
#items_container {
  margin-top: 10px;
}

@font-face {
  font-family: HellsRider;
  src: url("../fonts/HellsRider.ttf");
}
/* line 6, ../sass/components/_texts.scss */
body {
  font-family: Futura !important;
  color: #000 !important;
}

/* line 12, ../sass/components/_texts.scss */
.text__is-white {
  color: #fff !important;
}
/* line 16, ../sass/components/_texts.scss */
.text__is-black {
  color: #000 !important;
}
/* line 20, ../sass/components/_texts.scss */
.text__is-red {
  color: #E00303 !important;
}
/* line 24, ../sass/components/_texts.scss */
.text__is-yellow {
  color: #FFC900 !important;
}
/* line 28, ../sass/components/_texts.scss */
.text__is-green {
  color: #209D28 !important;
}

/* line 33, ../sass/components/_texts.scss */
.is-rider {
  font-family: HellsRider;
}

/* line 1, ../sass/templates/layout.scss */
body {
  color: #000;
  font-weight: bold;
  line-height: inherit;
}

/* line 7, ../sass/templates/layout.scss */
header {
  top: 0;
  z-index: 1000000;
}
/* line 11, ../sass/templates/layout.scss */
header a[href="signin"] {
  border-right: solid 1px white;
  border-left: solid 1px white;
}
@media screen and (max-width: 769px) {
  /* line 15, ../sass/templates/layout.scss */
  header a[href="signin"] span {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  /* line 23, ../sass/templates/layout.scss */
  header a[href="/#catalog"] span {
    display: none;
  }
}
/* line 30, ../sass/templates/layout.scss */
header nav a {
  padding: 0 20px;
}
@media screen and (max-width: 769px) {
  /* line 29, ../sass/templates/layout.scss */
  header nav {
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    width: 100vw;
    background: #E00303;
  }
  /* line 42, ../sass/templates/layout.scss */
  header nav a {
    padding: 15px 0;
    width: calc(100%/3);
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 769px) {
  /* line 51, ../sass/templates/layout.scss */
  header > div {
    display: block !important;
  }
  /* line 56, ../sass/templates/layout.scss */
  header > div > div:first-child a {
    margin: 0 auto;
  }
}

/* line 65, ../sass/templates/layout.scss */
#logo {
  width: 100px;
}

@media screen and (max-width: 769px) {
  /* line 69, ../sass/templates/layout.scss */
  main {
    margin-bottom: 40px;
  }
}

/* line 76, ../sass/templates/layout.scss */
.border__right {
  border-right: solid 1px white;
  height: 40px;
}
/* line 81, ../sass/templates/layout.scss */
.border__bottom {
  border-bottom: solid 1px white;
  width: 40px;
}

/* line 2, ../sass/templates/index.scss */
#swiper .swiper-container {
  height: 600px;
}
/* line 6, ../sass/templates/index.scss */
#swiper .swiper-button-next,
#swiper .swiper-button-prev,
#swiper .swiper-container-rtl .swiper-button-next,
#swiper .swiper-container-rtl .swiper-button-prev {
  background: none;
}
/* line 14, ../sass/templates/index.scss */
#swiper .swiper-slide:first-of-type {
  background: url("../img/burr.jpg") no-repeat center;
  background-size: cover;
}
/* line 18, ../sass/templates/index.scss */
#swiper .swiper-slide:first-of-type .text {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  width: max-content;
}
/* line 25, ../sass/templates/index.scss */
#swiper .swiper-slide:first-of-type .text span {
  margin-bottom: 0;
  text-shadow: 5px 5px black;
  line-height: 120px;
}
@media screen and (max-width: 769px) {
  /* line 25, ../sass/templates/index.scss */
  #swiper .swiper-slide:first-of-type .text span {
    line-height: 75px;
  }
}
/* line 33, ../sass/templates/index.scss */
#swiper .swiper-slide:first-of-type .text span:first-child {
  font-size: 60px;
}
@media screen and (max-width: 769px) {
  /* line 33, ../sass/templates/index.scss */
  #swiper .swiper-slide:first-of-type .text span:first-child {
    font-size: 35px;
  }
}
/* line 40, ../sass/templates/index.scss */
#swiper .swiper-slide:first-of-type .text span:nth-child(2) {
  font-size: 166px;
}
@media screen and (max-width: 769px) {
  /* line 40, ../sass/templates/index.scss */
  #swiper .swiper-slide:first-of-type .text span:nth-child(2) {
    font-size: 98px;
  }
}
/* line 50, ../sass/templates/index.scss */
#swiper .swiper-slide:last-of-type {
  background: #FFC900;
  background-size: cover;
}
/* line 54, ../sass/templates/index.scss */
#swiper .swiper-slide:last-of-type .text {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  z-index: 2;
  width: max-content;
}
/* line 62, ../sass/templates/index.scss */
#swiper .swiper-slide:last-of-type .text p {
  font-size: 30px;
  margin-bottom: 0;
  line-height: 18px;
}
@media screen and (max-width: 769px) {
  /* line 62, ../sass/templates/index.scss */
  #swiper .swiper-slide:last-of-type .text p {
    font-size: 16px;
    line-height: 6px;
  }
  /* line 70, ../sass/templates/index.scss */
  #swiper .swiper-slide:last-of-type .text p span {
    font-size: 33px !important;
  }
}
/* line 75, ../sass/templates/index.scss */
#swiper .swiper-slide:last-of-type .text p span {
  font-size: 63px;
}
/* line 80, ../sass/templates/index.scss */
#swiper .swiper-slide:last-of-type .text .button {
  margin-top: 20px;
}
/* line 86, ../sass/templates/index.scss */
#swiper .swiper-slide .button {
  box-shadow: 5px 5px 0 black;
}
/* line 89, ../sass/templates/index.scss */
#swiper .swiper-slide .button:hover {
  letter-spacing: 5px;
}
/* line 95, ../sass/templates/index.scss */
#swiper .swiper-button-next,
#swiper .swiper-button-prev {
  color: #209D28;
}
@media screen and (max-width: 769px) {
  /* line 95, ../sass/templates/index.scss */
  #swiper .swiper-button-next,
  #swiper .swiper-button-prev {
    display: none;
  }
}
/* line 102, ../sass/templates/index.scss */
#swiper .swiper-button-next i,
#swiper .swiper-button-prev i {
  font-size: 50px;
}

/* line 108, ../sass/templates/index.scss */
#pub {
  height: 450px;
  background: url("../img/tacos_add.jpg") no-repeat 40% center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 769px) {
  /* line 108, ../sass/templates/index.scss */
  #pub {
    background: url("../img/tacos_add.jpg") no-repeat right center;
  }
}
/* line 117, ../sass/templates/index.scss */
#pub .text {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  width: 400px;
}
@media screen and (max-width: 769px) {
  /* line 117, ../sass/templates/index.scss */
  #pub .text {
    width: 300px;
    left: 50%;
    text-align: center;
  }
}
/* line 130, ../sass/templates/index.scss */
#pub .text h2 {
  font-size: 70px;
}
@media screen and (max-width: 769px) {
  /* line 130, ../sass/templates/index.scss */
  #pub .text h2 {
    font-size: 50px;
  }
}

/* line 139, ../sass/templates/index.scss */
#whos {
  background: url("../img/picto_bg.png") no-repeat center;
  background-size: cover;
  height: 300px;
}
/* line 144, ../sass/templates/index.scss */
#whos .text {
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* line 1, ../sass/templates/results.scss */
#results {
  margin-top: 0;
}

/* line 5, ../sass/templates/results.scss */
#grid {
  max-width: none;
  width: 887px;
  min-height: 600px;
}
@media screen and (max-width: 1024px) {
  /* line 5, ../sass/templates/results.scss */
  #grid {
    width: 672px;
  }
}
@media screen and (max-width: 769px) {
  /* line 5, ../sass/templates/results.scss */
  #grid {
    width: 457px;
  }
}
@media screen and (max-width: 480px) {
  /* line 5, ../sass/templates/results.scss */
  #grid {
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
  }
}
/* line 21, ../sass/templates/results.scss */
#grid .grid__item {
  width: 200px;
  margin: inherit;
  padding: 0;
  margin: 5px;
  height: 300px;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.1);
  transition: box-shadow height 0.3s ease;
  position: relative;
}
/* line 31, ../sass/templates/results.scss */
#grid .grid__item:hover {
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.2);
}
/* line 35, ../sass/templates/results.scss */
#grid .grid__item .img {
  height: 150px;
}
/* line 38, ../sass/templates/results.scss */
#grid .grid__item .img img {
  top: 0;
  left: 0;
  width: 100%;
}
/* line 45, ../sass/templates/results.scss */
#grid .grid__item .desc {
  padding: 5px;
  text-align: left;
  font-family: Futura;
}
/* line 50, ../sass/templates/results.scss */
#grid .grid__item .desc h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 55, ../sass/templates/results.scss */
#grid .grid__item .desc p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 60, ../sass/templates/results.scss */
#grid .grid__item .desc h4 {
  font-size: 13px;
  color: black;
  position: absolute;
  bottom: 0;
  left: 10px;
}

/* line 71, ../sass/templates/results.scss */
#catalog-nav {
  border-bottom: solid 1px #209D28;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  /* line 71, ../sass/templates/results.scss */
  #catalog-nav {
    overflow-x: scroll;
  }
  /* line 77, ../sass/templates/results.scss */
  #catalog-nav ul {
    min-width: 1024px;
  }
}
/* line 83, ../sass/templates/results.scss */
#catalog-nav ul a {
  width: calc(100%/6);
  color: #000;
  padding: 15px 0;
  display: flex;
  display: block;
  transition: 0.1s ease;
}
/* line 91, ../sass/templates/results.scss */
#catalog-nav ul a.active, #catalog-nav ul a:hover {
  background: #209D28;
  color: white;
}
/* line 97, ../sass/templates/results.scss */
#catalog-nav ul a.active li.tacos, #catalog-nav ul a:hover li.tacos {
  background: url("../img/picto/white/tacos_picto.svg") no-repeat 10% center;
  background-size: 23px;
}
/* line 102, ../sass/templates/results.scss */
#catalog-nav ul a.active li.burritos, #catalog-nav ul a:hover li.burritos {
  background: url("../img/picto/white/burrito_picto.svg") no-repeat 10% center;
  background-size: 25px;
}
/* line 107, ../sass/templates/results.scss */
#catalog-nav ul a.active li.quesadillas, #catalog-nav ul a:hover li.quesadillas {
  background: url("../img/picto/white/quesadillas_picto.svg") no-repeat 5% center;
  background-size: 28px;
}
/* line 112, ../sass/templates/results.scss */
#catalog-nav ul a.active li.nachos, #catalog-nav ul a:hover li.nachos {
  background: url("../img/picto/white/nachos_picto.svg") no-repeat 10% center;
  background-size: 26px;
}
/* line 117, ../sass/templates/results.scss */
#catalog-nav ul a.active li.veggie, #catalog-nav ul a:hover li.veggie {
  background: url("../img/picto/white/veggie_picto.svg") no-repeat 10% center;
  background-size: 23px;
}
/* line 122, ../sass/templates/results.scss */
#catalog-nav ul a.active li.drinks, #catalog-nav ul a:hover li.drinks {
  background: url("../img/picto/white/drinks_picto.svg") no-repeat 14% center;
  background-size: 15px;
}
/* line 129, ../sass/templates/results.scss */
#catalog-nav ul a img {
  width: 20px;
}
/* line 133, ../sass/templates/results.scss */
#catalog-nav ul a.border {
  border-right: solid 1px #209D28;
}
/* line 138, ../sass/templates/results.scss */
#catalog-nav ul li {
  padding-left: 40px;
  width: max-content;
  margin: 0 auto;
}
/* line 143, ../sass/templates/results.scss */
#catalog-nav ul li.tacos {
  background: url("../img/picto/green/tacos_picto.svg") no-repeat 10% center;
  background-size: 23px;
}
/* line 148, ../sass/templates/results.scss */
#catalog-nav ul li.burritos {
  background: url("../img/picto/green/burrito_picto.svg") no-repeat 10% center;
  background-size: 25px;
}
/* line 153, ../sass/templates/results.scss */
#catalog-nav ul li.quesadillas {
  background: url("../img/picto/green/quesadillas_picto.svg") no-repeat 5% center;
  background-size: 28px;
}
/* line 158, ../sass/templates/results.scss */
#catalog-nav ul li.nachos {
  background: url("../img/picto/green/nachos_picto.svg") no-repeat 10% center;
  background-size: 26px;
}
/* line 163, ../sass/templates/results.scss */
#catalog-nav ul li.veggie {
  background: url("../img/picto/green/veggie_picto.svg") no-repeat 10% center;
  background-size: 23px;
}
/* line 168, ../sass/templates/results.scss */
#catalog-nav ul li.drinks {
  background: url("../img/picto/green/drinks_picto.svg") no-repeat 14% center;
  background-size: 15px;
}

/* line 3, ../sass/templates/log.scss */
#log section > div {
  width: 50%;
  padding: 30vh 0;
}
/* line 9, ../sass/templates/log.scss */
#log form {
  max-width: 300px;
}
/* line 13, ../sass/templates/log.scss */
#log .bg {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
}

/* line 19, ../sass/templates/log.scss */
#notsamepass {
  display: block;
  color: red;
  border-radius: 5px;
  margin-top: 10px;
}

/* line 2, ../sass/templates/cart.scss */
#cart #summary {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 10px 0;
}
@media screen and (max-width: 480px) {
  /* line 2, ../sass/templates/cart.scss */
  #cart #summary {
    max-height: 225px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
/* line 13, ../sass/templates/cart.scss */
#cart .totalPrice {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: min-content;
}
/* line 21, ../sass/templates/cart.scss */
#cart .item:not(:last-child) {
  margin-bottom: 25px;
}
/* line 27, ../sass/templates/cart.scss */
#cart .item > div:first-child p {
  width: 40px;
}
@media screen and (max-width: 480px) {
  /* line 27, ../sass/templates/cart.scss */
  #cart .item > div:first-child p {
    margin-right: 0;
  }
}
/* line 36, ../sass/templates/cart.scss */
#cart .item .img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  /* line 36, ../sass/templates/cart.scss */
  #cart .item .img {
    display: none;
  }
}
/* line 47, ../sass/templates/cart.scss */
#cart .quantity > input[type=button] {
  display: block;
  width: 40px;
  height: 40px;
  background: #209D28;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
}
/* line 58, ../sass/templates/cart.scss */
#cart .quantity > input[type=button]:focus {
  outline: none;
}

/* line 2, ../sass/templates/profile.scss */
#profile hr {
  background-color: black;
}
/* line 6, ../sass/templates/profile.scss */
#profile span {
  margin: 5px 0;
}
