.button {
  border: none !important;
  -webkit-appearance: none;
}

.mainbtn {
  background: map-get($colors, red) !important;
  color: map-get($colors, white) !important;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
  -webkit-appearance: none;
}

.scdbtn {
  border: solid 2px map-get($colors, red) !important;
  color: map-get($colors, red) !important;
  background: white !important;
}